<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Diagnosis</title>
    <link rel="stylesheet" href="styles.css">
</head>
<body>
    <form action="/" method="post">
        <div>
            <label for="gender">Medical Gender:</label> <br>
            <input type="text" id="gender" name="gender">
        <div>
        <br>
        <div>
            <label for="birth">Birth Year:</label> <br>
            <input type="text" id="birth" name="birth">
        <div>
        <br>
        <div>
           <label for="birth">Symptom Number our options are listed below</label> <br>
            <input type="text" id="number" name="number">
        <div>
        <br>        
        <div>
            <input type="reset">    
        <div>
        <br>
        <div>
            <input type="submit">    
        <div>
    <form>
        <p>10: Abdominal Pain
        238: Anxiety
        104: Back Pain
        75: Burning Eyes
        46: Burning the throat
        170: Cheek Swelling
        17: Chest Pain
        31: Chest Tightness
        175: Chills
        139: Cold Sweats
        15: Cough
        207: Dizziness
        244: Drooping Eyelid
        273: Dry Eyes
        87: Eareache
        92: Early satiety
        287: Eye Pain
        33: eye redness
        153: Fast deepend breathing
        76: feeling of foreign body in the eye
        11: Fever
        9: headache
        45: heartburn
        122: Hiccups
        149: Hot flushes
        40: Increased thurst</p>
</body>
</html>
