<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Diagnosis</title>
    <link rel="stylesheet" href="styles.css">
</head>
<body>
    <form action="" method="post">
        <div>
            <label for="gender">Medical Gender:</label> <br>
            <input type="text" id="gender" name="gender">
        <div>
        <br>
        <div>
            <label for="birth">Birth Year:</label> <br>
            <input type="text" id="birth" name="birth">
        <div>
        <br>
        <div>
           <label for="birth">Symptom Number our options are listed below</label> <br>
            <input type="text" id="number" name="number">
        <div>
        <br>        
        <div>
            <input type="reset">    
        <div>
        <br>
        <div>
            <input type="submit">    
        <div>
    <form>
        <p>10: Abdominal Pain
        238: Anxiety
        104: Back Pain
        75: Burning Eyes
        46: Burning the throat
        170: Cheek Swelling
        17: Chest Pain
        31: Chest Tightness
        175: Chills
        139: Cold Sweats
        15: Cough
        207: Dizziness
        244: Drooping Eyelid
        273: Dry Eyes
        87: Eareache
        92: Early satiety
        287: Eye Pain
        33: eye redness
        153: Fast deepend breathing
        76: feeling of foreign body in the eye
        11: Fever
        9: headache
        45: heartburn
        122: Hiccups
        149: Hot flushes
        40: Increased thurst
        73: Itching Eyes
        96: Itching in the nose
        35: Lip Swelling
        235: Memory gap
        44: Nasuea
        136: Neck Pain
        114: Nervesnouss
        133: Night Cough
        12: Pain in the limbs
        203: Pain on swallowing
        37: Palpitations
        140: paralysis
        54: reduced appetite
        14: Runny Nose
        29: Shortness of breaths
        124: Skin Rash
        52: Sleeplessness
        95: Sneezing
        13: Store Throat
        64: Sputum
        179: Stomach Burning
        28: Stuffy Nose
        138; Sweating
        248: Swollen glands in the armpit
        169: Swollen glands on the neck
        211: tears
        16: Tiredness
        115: Tremor at rest
        144: Unconciousness ,short
        </p>
</body>
</html>
